.main {
  background-image: url("../../img/bg-mountain-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 607px) 577px;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/bg-mountain-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 982px) 943px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/bg-mountain-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 1145px) 675px;
  }
}



/*.main {
  position: relative;
  z-index: 0;

  &::after {
    display: block;
    position: absolute;
    width: 1176px;
    height: 789px;
    content: "";
    left: calc(50% + 18px);
    top: 575px;
    background-image: image-set(
      url("../../img/bg-mountain-mobile@1x.png") type("image/png") 1x,
      url("../../img/bg-mountain-mobile@2x.png") type("image/png") 2x,
      url("../../img/bg-mountain-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/bg-mountain-mobile@2x.webp") type("image/webp") 2x,
    );
    background-size: 1176px 789px;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    &::after {
      width: 2047px;
      height: 1630px;
      left: calc(50% - 41px);
      top: 940px;
      background-image: image-set(
        url("../../img/bg-mountain-tablet@1x.png") type("image/png") 1x,
        url("../../img/bg-mountain-tablet@2x.png") type("image/png") 2x,
        url("../../img/bg-mountain-tablet@1x.webp") type("image/webp") 1x,
        url("../../img/bg-mountain-tablet@2x.webp") type("image/webp") 2x,
      );
      background-size: 2047px 1630px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      left: calc(50% + 115px);
      top: 670px;
    }
  }
}
*/
