html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: $base-text-color;
}

main {
  flex-grow: 1;
}

